{% extends 'base.html.twig' %}

{% block bodyClass %}player-index-index{% endblock %}

{% block body %}
<div id="player" class="player" data-options='{"title": "{{ title }}"}'>
    <div class="player__playlist playlist" data-playlist data-options='{ "defaultThumbnail": "{{ asset('podcasts/thumbnails/default.svg') }}" }'>
        <button class="playlist__control button-hamburger hiding"
                type="button" title="{{ 'Playlist' | trans }} (P)" data-playlist-control>
            <svg class="button-hamburger__icon" viewBox="0 0 80 80" fill="none" stroke-linecap="round" aria-hidden="true">
                <path class="button-hamburger__slice button-hamburger__slice-1" d="M8 20 h64"/>
                <path class="button-hamburger__slice button-hamburger__slice-2" d="M8 40 h64"/>
                <path class="button-hamburger__slice button-hamburger__slice-3" d="M8 60 h64"/>
            </svg>
        </button>
        <div class="playlist__wrapper" hidden>
            <h2 class="playlist__title">PlaySome<sup class="playlist__title_sup">fun</sup></h2>
            <ul class="playlist__list" data-playlist-list>
                <li class="playlist__message">{{ 'Empty for now...' | trans }}</li>
            </ul>
            <span class="playlist__info">{{ "Just drag'n'drop audio file here to play it" | trans }}</span>
        </div>
    </div>
    <div class="player__legend">
        <span class="player__trackname" data-player-trackname>{{ "Select audio from playlist or drag'n'drop a file here" | trans }}</span>
        <span class="player__tracktime" data-player-tracktime>--:--:--</span>
    </div>
    <div class="player__scene">
        <canvas class="player__canvas" height="900" width="900" data-player-canvas></canvas>
        <button class="player__control button-play"
                type="button" title="{{ 'Play (Space)' | trans }}" tabindex="-1" data-player-control>
            <svg class="button-play__icon" viewBox="0 0 40 40" stroke-linejoin="round" aria-hidden="true">
                <path class="button-play__triangle" d="M6 6 L20 13 L20 27 L6 34 z M20 13 L34 20 L20 27 z"/>
                <path class="button-play__pause" d="M6 6 h8 v28 h-8 z M26 6 h8 v28 h-8 z"/>
            </svg>
        </button>
    </div>
    <audio class="player__audio hiding" crossorigin="anonymous" controls data-player-audio></audio>
    <button class="player__fullscreen button-fullscreen hiding"
            type="button" title="{{ 'Fullscreen' | trans }} (F)" data-player-fullscreen>
        <svg class="button-fullscreen__icon" viewBox="0 0 20 20" fill="none" aria-hidden="true">
            <g class="button-fullscreen__icon_group">
                <path class="button-fullscreen__corner button-fullscreen__corner-1" d="M2 7 v-5 h5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-2" d="M18 7 v-5 h-5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-3" d="M18 13 v5 h-5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-4" d="M2 13 v5 h5"/>
            </g>
            <g class="button-fullscreen__icon_group--active">
                <path class="button-fullscreen__corner button-fullscreen__corner-1" d="M13 18 v-5 h5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-2" d="M7 18 v-5 h-5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-3" d="M7 2 v5 h-5"/>
                <path class="button-fullscreen__corner button-fullscreen__corner-4" d="M13 2 v5 h5"/>
            </g>
        </svg>
    </button>
    <div class="player__share share" data-share>
        <button class="share__control button-share hiding"
                type="button" title="{{ 'Share' | trans }} (S)" data-share-control>
            <svg class="button-share__icon" viewBox="0 0 40 40" fill="none" aria-hidden="true">
                <circle class="button-share__circle" cx="30" cy="10" r="4"/>
                <circle class="button-share__circle" cx="10" cy="20" r="4"/>
                <circle class="button-share__circle" cx="30" cy="30" r="4"/>
                <path class="button-share__connector" d="M26 12 L14 18 M14 22 L26 28"/>
            </svg>
        </button>
        <div class="share__modal" data-share-modal hidden>
            <div class="share__window" role="dialog" aria-modal="true" aria-label="{{ 'Share a link' | trans }}">
                <h2 class="share__title">{{ 'Share a link' | trans }}</h2>
                <div class="share__content">
                    <div class="share__urlbar">
                        <input class="share__url" name="url" type="text" title="{{ 'Url to share' | trans }}" data-share-url disabled>
                        <button class="share__copy" type="button" data-share-copy>{{ 'Copy' | trans }}</button>
                    </div>
                    <label class="share__timebar" data-share-timebar>
                        <input class="share__timecode" name="timecode" type="checkbox" data-share-timecode>
                        <span>{{ 'Start with' | trans }} <span data-share-timelabel></span></span>
                    </label>
                </div>
                <button class="share__close" type="button" title="{{ 'Close' | trans }}" data-share-close></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
